.floating-stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.star {
  position: absolute;
  top: -50px;
  opacity: 0;
  animation: floatDown linear infinite;
  filter: drop-shadow(0 0 3px rgba(255, 209, 102, 0.5));
}

@keyframes floatDown {
  0% {
    top: -50px;
    opacity: 0;
    transform: translateX(0) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 0;
    transform: translateX(100px) rotate(360deg);
  }
}
